

/*Body*/

	li{line-height: 2em;}

	.panel-default{
		border-width: 1pt;
		border-color:rgba(19, 34, 145,0.5);
	}

	.panel-default>.panel-heading{
		background-color: white;

	}

/* SECTION PRINCIPALE*/


	@media (min-width: 768px){
			
		section.mediumsize{
		  height:50vh; 
		  min-height: auto;
		}


	@media (max-width: 768px){

		.principale>.container{
		    position: relative;
		    top:50%;
		    transform: translateY(-40%);
		    overflow-y: visible;
		    }
	}
			
		section.mediumsize{
		  height:35vh; 
		  min-height: auto;
		}



