

/* REGISTER FORM*/

	.col-sm-5 .section-content-inner {
		width: 100%;
	}

	.panel-register {
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	}

	.panel-register>.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align:center;
	}

	.panel-register>.panel-heading a{
		text-decoration: none;
		font-weight: 600;
	}

	.panel-register>.panel-heading a.active{
		color: #132291;
		font-size: 20px;
	}

	.panel-register p{
		color: grey;
		font-size:0.9em;
		text-align:center;
	}

	.panel-register>.panel-heading hr{
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 3px;
		background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	}
	.panel-register input[type="text"],.panel-register input[type="email"],.panel-register input[type="password"] {
		height: 45px;
		border: 1px solid #ddd;
		font-size: 16px;
		-webkit-transition: all 0.35s;
	    -moz-transition: all 0.35s;
	  	transition: all 0.35s;
	}
	.panel-register input:hover,
	.panel-register input:focus {

	}
		.btn-register {
			margin-top:15px;
			background-color: white;
			color: #132291;
			letter-spacing: 2px;
			font-weight: 600;
			text-transform: uppercase;
			border-color: #132291;
			-webkit-transition: all 0.35s;
		    -moz-transition: all 0.35s;
		  	transition: all 0.35s;
		}

		.btn-register:hover{
			margin-top:15px;
			background-color: white;
			color: #132291;
			letter-spacing: 2px;
			font-weight: 600;
			text-transform: uppercase;
			border-color: #132291;
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
		  }

/*SECTION FEATURES*/


	section.features .section-heading {
	  margin-bottom: 100px;
	  padding-top:50px;
	  
	}
	section.features .section-heading h2 {
	  margin-top: 0;
	}

	section.features .section-heading p {
	  margin-bottom: 0;
	}
	section.features {
	background: url("../img/bg-pattern-3.png"), #132291;
	  /* fallback for old browsers */
	  background: url("../img/bg-pattern-3.png");
	  /* Chrome 10-25, Safari 5.1-6 */
	  background: url("../img/bg-pattern-3.png");
	  padding-bottom:0px;
	  }
	  
	section.features .device-container,
	section.features .feature-item {
	  max-width: 300px;
	  margin: 0 auto;
	}
	section.features .device-container {
	  margin-bottom: 100px;
	}
	@media (min-width: 992px) {
	  section.features .device-container {
	    margin-bottom: 0;
	  }
	}
	section.features .feature-item {
	  text-align: center;
	  margin-bottom: 100px;
	}
	section.features .feature-item h3 {
	  font-size: 30px;
	}
	section.features .feature-item i {
	  font-size: 80px;
	  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
	  background: linear-gradient(to left, #7b4397, #dc2430);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
	@media (min-width: 992px) {
	  section.features .device-container,
	  section.features .feature-item {
	    max-width: none;
	  }
	}
	/*Floating monitor*/
	#monitor {margin-bottom:30px;width:100%;}