/*MAIN*/
	body{
		letter-spacing: 1px!important;
		height:100%;
		width:100%;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
		background: url(../img/bg-pattern-3.png)
		};

	}


	@media (max-width: 768px) {
		h1 {
	    font-size: 2.5em;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300!important;
		}

		h2 {
	    font-size: 2.5em;
	    font-weight: 400!important;
		}

		h3 {
 		color:#132291;
		}

		p {
	    font-size: 1.2em;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300!important;
		}
	}


	@media (min-width: 768px) {
		h1 {
	    font-size: 3.6em;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300!important;
		}

		h2 {
	    font-size: 3em;
	    font-weight: 300!important;	
		}

		h3 {
 		color:#132291;
		}		

		p {
	    font-size: 1.3em;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300;
		}
	}

	a, a:hover{
		color:grey;
	}

	.text-primary{color:#132291!important;}
	.text-secondary{color:white!important;text-shadow: 1px 1px #000!important;}


	.container-fluid{
	margin:5%;
	padding: 5%;
	background: white;
	text-align: justify;
	}

  	.backgroundtable{
    background-color:rgba(255, 255, 255,1);
    border-radius: 7px;
    padding-bottom:15px; 
    margin:15px;
    box-shadow: inset 1px 1px 5px #222;
  	}

/* NAVBAR */

	nav > .container{height:70px;}

	.navbar-default{
		background-color: white;
		border-color: rgba(34, 34, 34,0.2);
		box-shadow:1px 2px 5px 1px grey;
	}

	.navbar-header{
		height:100%;
		display:inline;
	}

	.navbar-header::after,::before{
	display:inline;
	}

	.navbar-brand{
		height:100%;
	}

	.nav.navbar-nav.navbar-right{
		margin:7.5px -14px;
	}

	nav > .container{
		min-height: :70px;
	}

	.navbar-brand{
	padding:0px;
	}

	.navbar-collapse {
	  border:none;
	}

	.navbar-collapse.collapse {
	  display: inline!important;
	}

	.navbar-nav>li, .navbar-nav {
	  float: left !important;
	  margin-right:15px;
	  margin-left:0px;
	  padding:0px!important;
	}

	.navbar-nav>li>a{
	  margin-top:7px;
	}

	.navbar-default .navbar-nav>li>a{
	  color:#132291;

	  -webkit-transition: all 0.35s;
	   -moz-transition: all 0.35s;
	  transition: all 0.35s;
	}

	.navbar-default .navbar-nav>li>a:hover{
	  color:#132291;
	  text-shadow: 1px 1px 1px #132291;

	}

	.navbar-right {
	  float: right!important;
	}

	.navbar-btn {
		margin-top:15px;
		background-color: white;
		color: #132291;
		font-weight: 600;
		text-transform: uppercase;
		border-color: #132291;
		-webkit-transition: all 0.35s;
	    -moz-transition: all 0.35s;
	  	transition: all 0.35s;
	}

	.navbar-btn:hover{
		margin-top:15px;
		background-color: white;
		color: #132291;
		font-weight: 600;
		text-transform: uppercase;
		border-color: #132291;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	  }


/* ALL SECTIONS */
	
	section{
		box-shadow:1px 2px 5px 1px grey;
	}

	.section-content-inner> h1{

		text-align: justify-all;
	}
	.section-content-inner> p{
		opacity:0.8;
		text-align: justify;
		text-align-last: left;
	}


	section h2 .primary-color {
		color:#132291!important;
		font-weight: 300!important}

	section h2 .secondary-color {
	color:#FFF!important;
	text-shadow: 1px 1px #000;
	font-weight: 300!important}

	section.container{	   
	 margin-left: auto;
	 margin-right:auto; }

	section .section-content {
	  text-align: center;
	  padding: 150px 0 50px;
	  position: relative;
	}

	section .section-content .section-content-inner {
	  position: relative;
	  max-width: 500px;
	  margin:auto; 
	} 

	@media (min-width: 768px) {
	  section {
	    min-height: 100%;
	  }
	  section.section-content {
	    text-align: left;
	    padding: 0;
	    height: 100vh;
	  }
	  section .section-content .section-content-inner {
	    max-width: none;
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	  }
	  
	   section .section-content .section-content-inner-login {
	    max-width: none;
	    margin: 0;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	  }
	  
	  section .section-content .section-content-inner h1 {
	    font-size: 35px;

	  }
	}

	@media (min-width: 992px) {
	  section .section-content .section-content-inner h1 {
	  }
	}

/* SECTION PRINCIPALE*/

	@media (min-width: 768px){
		
		section.principale {
		  position: relative;
		  height:100vh; 
		  min-height: auto;
		  background: url("../img/bg-pattern-2.png"), #132291;
		  /* fallback for old browsers */
		  background: url("../img/bg-pattern-2.png"), -webkit-linear-gradient(to left, #7b4397, #132291);
		  /* Chrome 10-25, Safari 5.1-6 */
		  background: url("../img/bg-pattern-2.png"), linear-gradient(to left, #337ab7, #132291);
		  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		  color: white;
		}
	
		.principale>.container{
		    position: relative;
		    top:50%;
		    transform: translateY(-40%);
		    overflow-y: visible;
		    }
	}
		
	@media (max-width: 768px){
		
		section.principale {
		  position: relative;
		  min-height: auto;
		  background: url("../img/bg-pattern-2.png"), #132291;
		  /* fallback for old browsers */
		  background: url("../img/bg-pattern-2.png"), -webkit-linear-gradient(to left, #7b4397, #132291);
		  /* Chrome 10-25, Safari 5.1-6 */
		  background: url("../img/bg-pattern-2.png"), linear-gradient(to left, #337ab7, #132291);
		  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		  color: white;}

		.principale>.container {
		  margin-top:70px

		}
	}

	@media (max-width: 455px){
		
		section.principale {
		  position: relative;
		  min-height: auto;
		  background: url("../img/bg-pattern-2.png"), #132291;
		  /* fallback for old browsers */
		  background: url("../img/bg-pattern-2.png"), -webkit-linear-gradient(to left, #7b4397, #132291);
		  /* Chrome 10-25, Safari 5.1-6 */
		  background: url("../img/bg-pattern-2.png"), linear-gradient(to left, #337ab7, #132291);
		  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		  color: white;}

		.principale>.container {
		  margin-top:140px

		}
	}

/*FOOTER*/

	.footer {
	  margin-top:10px;
	  
	}
}

